@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$bgcolor: #151515;
$text-color: #eee;
$secondary-color: #524cff;

 :root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $text-color;

  color-scheme: dark;
  // color: rgba(0, 0, 0, 0.87);
  background-color: $bgcolor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Header

header {
  background-color: $bgcolor;
  color: $text-color;

  .header-list {
    background-color: $bgcolor;
    
    li {
      color: $text-color;
     
      &:hover {
        color: $secondary-color;
        transition: .25s;
      }
    }
  }
} 

.title {
  letter-spacing: 2px;
}

.project-1 {
  background-image: url("../public/assets/images/photo-1451187580459-43490279c0fa.jpeg");
  background-size: cover;
}

.project-2 {
  background-image: url("../public/assets/images/photo-1495592822108-9e6261896da8.jpeg");
  background-size: cover;
}
.project-3 {
  background-image: url("../public/assets/images/photo-1510906594845-bc082582c8cc.jpeg");
  background-size: cover;
}
.project-4 {
  background-image: url("../public/assets/images/photo-1564296787019-78c9b13c9b22.jpeg");
  background-size: cover;
}

.description {
  color: lighten($bgcolor, 45%)
}


footer {
  background-color: $bgcolor;
}

button {
  background-color: $secondary-color;
  &:hover {
    background-color: $text-color;
    color: $secondary-color;
    transition: .25s;
  }
}